/* basic css stuff */

footer {
  .reach-branding {
    float: right;
    color: $reach-blue;
    .reachEA {
      font-style: italic;;
      color: $reach-orange;
    }
    a:before {
      content: url('images/reach-favicon.png');
      padding-right: 4px;
    }
  }
}
