/* basic css stuff */
.disable-lightbox {
  a {
    pointer-events: none;
  }
  .disable-lightbox .et_overlay {
    display: none !important;
  }
}

footer {
  .reach-branding {
    float: right;
    color: $reach-blue;
    .reachEA {
      font-style: italic;;
      color: $reach-orange;
    }
    a:before {
      content: url('images/reach-favicon.png');
      padding-right: 4px;
    }
  }
}
