// styling for divi modules.

/// styling for gallery
.et_pb_module.et_pb_gallery.rmm-gallery-tight {
  .et_pb_grid_item.et_pb_gallery_item {
    margin-bottom: 1%!important;
    margin-right: 1%!important;
  }
}

.et_pb_module.et_pb_gallery.reach-gallery-4-3-2 .et_pb_gallery_items {
  .et_pb_gallery_item.first_in_row {
    //clear: none;
  }
}

/** Desktop => 4columns **/
@media (min-width: 981px){
  .et_pb_module.et_pb_gallery.reach-gallery-4-3-2 .et_pb_gallery_items {
    .et_pb_gallery_item {
      width: 24% !important; /*four  columns + 1% for margin*/
    }
    .et_pb_gallery_item.first_in_row {
      clear: none;
    }
    .et_pb_gallery_item:nth-child(4n+1) {
      clear: both!important;
    }
  }
}

/** Tablet * = 4 columns, yes need this.*/
@media (max-width: 980px) and (min-width:768px) {
  .et_pb_module.et_pb_gallery.reach-gallery-4-3-2 .et_pb_gallery_items {
    .et_pb_gallery_item {
      width: 24% !important; // four  columns + 1% for margin
    }
    .et_pb_gallery_item.first_in_row {
      clear: none;
    }
    .et_pb_gallery_item:nth-child(4n+1) {
      clear: both!important;
    }
  }
}


/** Small Tablet and Large Phone  = 3 columns **/
@media (max-width: 767px) and (min-width: 480px){
  .et_pb_module.et_pb_gallery.reach-gallery-4-3-2 .et_pb_gallery_items {
    .et_pb_gallery_item {
      width: 32% !important; // three  columns + 1% for margin
      clear: none;
    }
    .et_pb_gallery_item.first_in_row,
    .et_pb_gallery_item.last_in_row,  {

    }
    .et_pb_gallery_item:nth-child(3n+1) {
      clear: both!important;
    }
  }
}

/** Phone => 2 columns **/
@media (max-width: 479px){
  .et_pb_module.et_pb_gallery.reach-gallery-4-3-2 .et_pb_gallery_items {
    .et_pb_gallery_item {
      width: 49% !important; // two cols
    }
    .et_pb_gallery_item.first_in_row {
      clear: none;
    }
    .et_pb_gallery_item:nth-child(2n+1) {
      clear: both!important;
    }
  }
}
